<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcare</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1>🚘SmartCity - Iași🚘</h1>
        </div>
        <a href="index.html" id="logout-link">Logout</a>
    </header>

    <div class="container">
        <div class="welcome-message">
            <h1 class="h1">BINE AI VENIT!</h1>
            <h2 class="h2"> Username</h2>
            <h3 class="h30">SmartCity-Iași este cea mai bună oportunitate de a-ți rezerva dinainte locul de parcare și de 
                a-l prelua fără probleme. Toți șoferii văd în timp real ce locuri de parcare sunt ocupate și unde 
                sunt rămase locuri disponibile!
            </h3>
            <h3 class="h31">Plata se face la parcometrele aferente fizic!</h3>
            <h3 class="h32">Selectează de mai jos parcarea spre care te îndrepți!</h3>
            
            <button id="select-parking-btn">Selectează parcarea</button>
        </div>
        <div class="parking-wrapper">
            <div class="parking-grid" id="parking-grid"></div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 SmartCity-Iași. Toate drepturile rezervate.</p>
    </footer>
    
    <div id="parking-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Selectează parcarea</h2>
            <button class="parking-option">Parcarea 1</button>
            <button class="parking-option">Parcarea 2</button>
        </div>
    </div>

    <script src="../public/js/home.js"></script>
</body>
</html>
